.carousel-item {
  display: flex;
  justify-content: center;
}

.custom-card {
  margin: 0 10px;
  transition: transform 0.3s ease;
  height: 200%;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card .card-body {
  height: 100%; 
}