.viewall {
    color: blue;
    justify-content: flex-end;
}

.icon {
    margin-left: 7px; 
}

.leadership {
    width: 70%;
}

.advertisers {
    width: 100%;
    margin-bottom: -5px;
}

.publishers {
    color: rgb(50, 50, 230);
}

.join-now {
    color: rgb(50, 50, 230);
}

.center {
    text-align: center;
}
  
.light-gray-bg {
    background-color: #f4f4f4; 
}
  
.publishers-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 60px; 
}

.text-container {
    margin-left: 170px;
    margin-top: 10px;
}

.news {
    margin-left: 150px;
}

.text-news {
    font-size: 14px;
    margin-left: 150px;
}