.navbar {
  transition: top 0.3s;
  z-index: 1000; 
}

.navbar-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.navbar-scrolled {
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.logo {
  width: 130px;
  margin-right: 60px;
}