nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 130px;
  margin-right: 60px;
}

.links {
  font-size: 13px;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}