.view {
  background-color: white;
  padding: 20px;
  align-items: center;
  margin-left: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text2 {
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 40%;
}

.text3 {
  font-size: 14px;
  color: rgb(70, 69, 69);
}

.left {
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(32, 47, 255);
  font-weight: bold;
  border: 2px solid rgb(238, 222, 5);
  border-style: dashed;
  border-radius: 8px;
  height: 70px;
  width: 190px;
  padding: 30px;
  align-items: left;
}

.right {
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(32, 47, 255);
  font-weight: bold;
  border: 2px solid rgb(238, 222, 5);
  border-style: dashed;
  border-radius: 8px;
  height: 70px;
  width: 190px;
  padding: 30px;
  align-items: right;
}

.number {
  font-size: 28px;
  font-weight: bold;
  color: rgb(32, 47, 255);
  margin-top: -10px;
  margin-right: 10px; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text-container {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  flex: 1;
  padding-top: -20px;
}

.image2 {
  width: 100%;
  height: auto;
  margin-top: -20px;
  margin-right: 100px;
}

.learnmore {
  color: rgb(32, 47, 255);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 8px; 
  font-size: 20px; 
  border: 1px solid blue;
  border-radius: 50%;
  padding: 10px;
}