.view {
  background-color: white;
  padding: 20px;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right {
  align-items: right;
}

.left {
align-items: left;
}

.text2 {
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 40px;
}

.text3 {
  font-size: 14px;
  color: black;
}

.border {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(32, 47, 255);
  font-weight: bold;
  border: 2px solid rgb(238, 222, 5);
  border-style: dashed;
  border-radius: 5px;
  height: 70px;
  width: 200px;
  padding: 30px;
  display: flex;
  align-items: center; 
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: rgb(32, 47, 255);
  margin-bottom: 10px;
  margin-right: 10px; 
}

.text-container {
  flex: 1;
  margin-right: 20px;
}

.image-container {
  flex: 1;
  padding-top: -20px;
}

.image2 {
  width: 90%;
  height: auto;
}

.learnmore {
  color: rgb(32, 47, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 8px; 
  font-size: 20px; 
  border: 1px solid blue;
  border-radius: 50%;
}