.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text2 {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text3 {
  font-size: 14px;
  color: rgb(70, 69, 69);
}

.align {
  display: flex;
  justify-content: space-between;
}

.number-container {
  text-align: center;
}

.num-text {
  font-size: 28px;
  font-weight: bold;
  color: rgb(32, 47, 255);
}

.image2 {
  width: 130%;
  height: auto;
  margin-top: -20px;
  margin-right: 960px;
}

.learnmore {
  color: rgb(32, 47, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.num-text.highlighted {
  font-size: 28px;
  font-weight: bold;
  color: rgb(32, 47, 255);
  border: 2px dashed rgb(241, 229, 56);
  padding: 5px; 
  border-radius: 4px; 
}

@media (max-width: 768px) {
  .image2 {
    margin-right: 0; 
    width: 100%;
  }
}