.carousel-indicators {
    bottom: 10px;
  }
  
  .carousel-indicators li {
    background-color: blue; /* Change indicator color */
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  .carousel-indicators .active {
    background-color: white; /* Change active indicator color */
  }
  
  /* Custom styles for the next arrow */
  .carousel-control-next {
    background-color: blue; /* Change background color */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    right: 10px;
  }
  
  .carousel-control-next-icon {
    border-width: 0;
  }
  
  /* Custom styles for the arrow icon */
  .carousel-control-next-icon:after {
    content: '>'; /* Set content to '>' */
    font-size: 20px;
    color: white; /* Change arrow color */
  }