.carousel-indicators {
    bottom: 10px;
  }
  
  .carousel-indicators li {
    background-color: blue; 
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
  }
  
  .carousel-indicators .active {
    background-color: blue; 
  }

  .carousel-control-next {
    background-color: blue; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    right: 10px;
  }
  
  .carousel-control-next-icon {
    border-width: 0;
  }
  
  .carousel-control-next-icon:after {
    content: '>'; 
    font-size: 20px;
    color: blue; 
  }